<div id="modal-<%= type.id %>" class="modal">
	<div class="modal-content">
		<div class="modal-header">
			<h2>Ajouter un livre (<%= type.title %>)</h2>
			<span class="close">&times;</span>
		</div>

		<form id="accForm-<%= type.id %>">
			<div class="flex-row">
				<div class="input-group flex-half">
					<label class="input-label">Code EAN</label>
					<input name="ean" placeholder="Code a 13 chiffres" required>
				</div>
				<button type="button" class="flex-half fetch" disabled>Récupérer les infos en ligne</button>
			</div>

			<div class="section-title">INFORMATIONS PRINCIPALES</div>
			<div class="flex-row">
				<div class="input-group flex-half">
					<label class="input-label">Titre</label>
					<input name="title" placeholder="Titre du livre" required>
				</div>
				<div class="input-group flex-half">
					<label class="input-label">URL image</label>
					<input name="image" placeholder="Image de la couverture" required>
				</div>
			</div>
			<div class="flex-row">
				<div class="input-group flex-half">
					<label class="input-label">Tome</label>
					<input name="tome" type="number" placeholder="Numéro de la série">
				</div>
				<div class="input-group flex-half">
					<label class="input-label">Date</label>
					<input name="date" placeholder="De publication" required>
				</div>
				<div class="input-group flex-half">
					<label class="input-label">Age</label>
					<input name="age" placeholder="Age recommandé" type="number">
				</div>
			</div>
			<div class="flex-row">
				<div class="input-group">
					<label class="input-label">Auteur</label>
					<input name="author" placeholder="Auteur du livre" required>
				</div>
				<div class="input-group">
					<label class="input-label">Editeur</label>
					<input name="editor" placeholder="Editeur du livre" required>
				</div>
			</div>
			<div class="input-group">
				<label class="input-label">URL livre</label>
				<input name="link" placeholder="Lien vers le livre">
			</div>

			<div class="section-title">CLASSIFICATION</div>
			<div class="flex-row">
				<% if (type.sections !=null) { %>
				<div class="input-group flex-half">
					<label class="input-label">Section</label>
					<input name="section" placeholder="Section du livre" list="section-options-<%= type.id %>" required>
					<datalist id="section-options-<%= type.id %>">
						<% type.sections.forEach(function(section){ %>
						<option value="<%= section %>">
							<% }); %>
					</datalist>
				</div>
				<% } %>

				<% if (type.genres !=null) { %>
				<div class="input-group flex-half">
					<label class="input-label">Genre</label>
					<input name="genre" placeholder="Genre du livre" list="genre-options-<%= type.id %>" required>
					<datalist id="genre-options-<%= type.id %>">
						<% type.genres.forEach(function(genre){ %>
						<option value="<%= genre %>">
							<% }); %>
					</datalist>
				</div>
				<% } %>
			</div>
			<div class="flex-row">
				<% if (type.deweyClass !=null) { %>
				<div class="input-group flex-half">
					<label class="input-label">Classe Dewey</label>
					<input name="deweyClass" placeholder="Classe Dewey du livre" list="dewey-class-options-<%= type.id %>" required>
					<datalist id="dewey-class-options-<%= type.id %>">
						<% type.deweyClass.forEach(function(deweyClass){ %>
						<option value="<%= deweyClass %>">
							<% }); %>
					</datalist>
				</div>
				<% } %>

				<% if (type.deweyClass !=null) { %>
				<div class="input-group flex-half">
					<label class="input-label">Cote Dewey</label>
					<input name="coteDewey" placeholder="Cote Dewey du livre" required>
				</div>
				<% } %>
			</div>

			<% if (type.tthematic !=null) { %>
			<div class="input-group">
				<label class="input-label">Tématique</label>
				<input name="tthematic" placeholder="Tématique du livre" list="tthematic-options-<%= type.id %>" class="flex-full" required>
				<datalist id="tthematic-options-<%= type.id %>">
					<% type.thematic.forEach(function(thematic){ %>
					<option value="<%= thematic %>">
						<% }); %>
				</datalist>
			</div>
			<% } %>

			<div class="flex-row">
				<% if (type.coteSections !=null) { %>
				<div class="input-group flex-half">
					<label class="input-label">Cote section</label>
					<input name="coteSection" placeholder="Cote section du livre" list="cote-section-options-<%= type.id %>" required>
					<datalist id="cote-section-options-<%= type.id %>">
						<% type.coteSections.forEach(function(coteSection){ %>
						<option value="<%= coteSection %>">
							<% }); %>
					</datalist>
				</div>
				<% } %>

				<div class="input-group flex-half">
					<label class="input-label">Cote Nom</label>
					<input name="coteName" placeholder="Cote Nom du livre" list="cote-name-options-<%= type.id %>" required>
				</div>
			</div>

			<div class="section-title">ACQUISITION</div>
			<div class="flex-row">
				<div class="input-group flex-half">
					<label class="input-label">Fournisseur</label>
					<input name="provider" placeholder="Fournisseur du livre" list="provider-options-<%= type.id %>" required>
					<datalist id="provider-options-<%= type.id %>">
						<option value="Maison de la presse">
						<option value="Librairie place au herbes">
					</datalist>
				</div>
				<div class="input-group flex-half">
					<label class="input-label">Status</label>
					<select name="status" required>
						<option disabled selected value>-- Status --</option>
						<option value="acquired">Acquis</option>
						<option value="nonAcquired">Non acquis</option>
						<option value="onList">Sur liste d'acquisition</option>
						<option value="onShiping">En cours de livraison</option>
						<option value="equipment">Equipement</option>
						<option value="notAvailable">Non disponible</option>
					</select>
				</div>
			</div>
			<div class="flex-row">
				<div class="input-group flex-half">
					<label class="input-label">Prix (€)</label>
					<input name="price" placeholder="00.00" type="number" required>
				</div>

				<% if (type.format !=null) { %>
				<div class="input-group flex-half">
					<label class="input-label">Format</label>
					<input name="format" placeholder="Format du livre" list="format-options-<%= type.id %>" required>
					<datalist id="format-options-<%= type.id %>">
						<% type.format.forEach(function(format){ %>
						<option value="<%= format %>">
							<% }); %>
					</datalist>
				</div>
				<% } %>
			</div>

			<div class="btn-group">
				<button type="submit" class="flex-half validate">Valider</button>
				<button type="button" class="flex-half cancel close">Annuler</button>
			</div>
		</form>
	</div>
</div>